<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvReader" class="dik.faq.csv.CsvReaderImpl">
        <property name="csvFilePath" value="/faq.csv"/>
    </bean>

    <bean id="testService" class="dik.faq.service.TestServiceImpl">
        <constructor-arg name="csvReader" ref="csvReader"/>
    </bean>

</beans>


